@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=My+Soul&display=swap");

.head {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15mm;
}

.home {
  text-align: left;
  padding-left: 5mm;
}
.sudoku {
  text-align: center;
  text-align: justify;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.about {
  text-align: right;
  padding-right: 5mm;
}
.home:hover,.about:hover {
  cursor: pointer;
  color: cornflowerblue;
}
